{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}
{% load static %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block head_css %}
	<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">

		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<div class="portlet light profile-sidebar-portlet ">
        <!-- SIDEBAR USERPIC -->
        <div class="profile-userpic">
					{% if user.photo.photo_350 %}
						<img src="{% static user.photo.photo_350.url %}" class="img-responsive" alt="">
					{% else %}
						<img src="{% static 'image/default-user.png' %}" class="img-responsive" alt="">
					{% endif %}
				</div>
        <!-- END SIDEBAR USERPIC -->
        <!-- SIDEBAR USER TITLE -->
        <div class="profile-usertitle">
          <div class="profile-usertitle-name">{{ user.get_full_name }}</div>
          <div class="profile-usertitle-email">{{ user.email }}</div>
        </div>
        <!-- END SIDEBAR USER TITLE -->
    	</div>
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->

		<!-- BEGIN PROFILE CONTENT -->
		<div class="profile-content">
			<div class="row">
				<div class="col-md-12">

          <form id="formActiveTeacher" ng-non-bindable method="POST" class="form-horizontal">
            <div class="form-group last">
                <label class="col-md-3 control-label">Name</label>
                <div class="col-md-4">
                    <p class="form-control-static">{{ user_details.get_full_name }}</p>
                </div>
            </div>
            <div class="form-group last">
                <label class="col-md-3 control-label">Email</label>
                <div class="col-md-4">
                    <p class="form-control-static">{{ user_details.email }}</p>
                </div>
            </div>
            <div class="form-group last">
                <label class="col-md-3 control-label">Username</label>
                <div class="col-md-4">
                    <p class="form-control-static">{{ user_details.username }}</p>
                </div>
            </div>
          </form>


          <form id="formActiveTeacher" ng-non-bindable method="POST" class="form-horizontal">{% csrf_token %}
						{{ messages|messages_style }}
						{{ form_activate|form_style_horizontal }}
						<div class="form-group">
							<div class="col-sm-offset-2 col-sm-8">
								{# Translators: The register button on the register form. #}
								<button class="btn btn-default hidden" name='action' value='form_activation' type="submit">{% trans 'Save' %}</button>
							</div>
						</div>
					</form>


          <form ng-non-bindable method="POST" >{% csrf_token %}
						{{ messages|messages_style }}
						{{ form_groups|form_style }}
						<div class="form-group">
							{# Translators: The save button on the change user details form. #}
							<button class="btn btn-primary btn-lg" name='action' value='form_groups' type="submit">{% trans 'Save' %}</button>
						</div>
					</form>


				</div>
			</div>
		</div>
		<!-- END PROFILE CONTENT -->

	</div>
</div>
{% endblock %}

{% block page_javascript %}
	<script>
		// On Document Ready
		$(document).ready(function(){


			// controls widgets visibility
			$('#formActiveTeacher input[type="checkbox"]').change(function() {
				$('button[value="form_activation"]').click();
			});


		});
	</script>
{% endblock %}
