{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}
{% load static %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block head_css %}
<link href="{% static 'pages/css/profile.css' %}" rel="stylesheet">
<style>
	#uploadFile label {
		float: left;
		width: 100px;
	}

	#uploadFile .form-group {
		overflow: hidden;
	}

	#uploadFile input[type="file"] {
		float: left;
		border: 0;
		padding: 0;
		width: auto;
		background: none;
	}

	#uploadFile .form-error-list {
		clear: both;
	}

	.button-change-picture {
		margin-top: 10px;
	}
</style>
{% endblock %}

{% block content %}
<!-- BEGIN PAGE TITLE-->
{# Translators: The title of profile page #}
<h1 class="page-title">{% trans 'User Profile' %}</h1>
<!-- END PAGE TITLE-->


<div class="row">
	<div class="col-md-12">

		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<div class="portlet light bordered profile-sidebar-portlet ">
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					{% if user.photo.photo_350 %}
					<div class="img-responsive" style="background-image: url({{ user.photo.photo_350.url }});"></div>
					{% else %}
					<img src="{% static 'image/default-user.png' %}" class="img-responsive" alt="">
					{% endif %}
				</div>
				<div class="button-change-picture text-center">
					{# Translators: The label of the buggon Change Picture on User Profile page #}
					<button type="button" class="btn btn-default btn-xs" data-toggle="modal"
						href="#uploadFile">{% trans 'Change Picture' %}</button>
				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">{{ user.get_full_name }}</div>
					<div class="profile-usertitle-email">{{ user.email }}</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
			</div>
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->

		<!-- BEGIN PROFILE CONTENT -->
		<div class="profile-content">
			<div class="row">
				<div class="col-md-12">
					<div class="portlet light bordered">
						<div class="portlet-title tabbable-line">
							<div class="caption caption-md">
								<i class="icon-globe theme-font hide"></i>
								{# Translators: User account #}
								<span
									class="caption-subject font-blue-madison bold uppercase">{% trans 'Profile Account' %}</span>
							</div>
							<ul class="nav nav-tabs">
								<li>
									{# Translators: The tab profile #}
									<a href="{% url 'user-profile' %}">{% trans 'Login Info' %}</a>
								</li>
								<li class="active">
									{# Translators: The tab custom detials #}
									<a href="{% url 'user-custom-details' %}">{% trans 'Personal Details' %}</a>
								</li>
								<li>
									{# Translators: The tab change password #}
									<a href="{% url 'change-password' %}">{% trans 'Change Password' %}</a>
								</li>								
							</ul>
						</div>
						<div class="portlet-body form">
							<div class="tab-content">
								<!-- CUSTOM DETAILS PROFILE TAB -->
								<div class="tab-pane active">
									<form ng-non-bindable method="POST">{% csrf_token %}
										<div class="form-body">
											{{ messages|messages_style }}
											{{ form_custom_details|form_style }}
										</div>
										<div class="form-actions">
											<div class="row">
												<div class="col-md-9">
													{# Translators: The save button on the change user details form. #}
													<button class="btn btn-primary btn-lg blue" type="submit"
														name='action'
														value='form_custom_details'>{% trans 'Save' %}</button>
												</div>
											</div>
										</div>
									</form>
								</div>
								<!-- END CUSTOM DETAILS PROFILE TAB -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END PROFILE CONTENT -->
	</div>
</div>


<!-- BEGIN CHANGE PICTURE MODAL -->
<div class="modal fade" id="uploadFile" tabindex="-1" role="basic" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">

			<form ng-non-bindable method="POST" enctype="multipart/form-data">{% csrf_token %}

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
					{# Translators: The title of Change Picture modal window. #}
					<h4 class="modal-title">{% trans 'Upload your Photo' %}</h4>
				</div>
				<div class="modal-body">
					{# Translators: The informative text of the upload photo float window. #}
					<p>{% trans 'Click the button bellow and choose a photo from your computer.' %}</p>
					{{ messages|messages_style }}
					{{ form_photo|form_style }}
				</div>
				<div class="modal-footer">
					{# Translators: The close button of upload picture modal. #}
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					{# Translators: The save button on the change user details form. #}
					<button type="submit" class="btn blue" type="submit" name='action' value='form_photo'>Change
						Picture</button>
				</div>

			</form>


		</div>
		<!-- /.modal-content -->
	</div>
	<!-- /.modal-dialog -->
</div>
<!-- END CHANGE PICTURE MODAL -->
{% endblock %}

{% block page_javascript %}
<script>
	// open photo modal if error
	if ($('#uploadFile .form-error-list').length > 0) {
		$('#uploadFile').modal({ show: true });
	}
</script>
{% endblock %}