{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}
{% load static %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block head_css %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-12">

		<!-- BEGIN PROFILE SIDEBAR -->
		<div class="profile-sidebar">
			<div class="portlet light profile-sidebar-portlet ">
				<form ng-non-bindable method="POST" enctype="multipart/form-data">{% csrf_token %}
					{{ messages|messages_style }}
					{{ form_photo|form_style }}
					<div class="form-group">
						{# Translators: The save button on the change user details form. #}
						<button class="btn btn-primary btn-lg btn-block" name='action' value='form_photo'
							type="submit">{% trans 'Save' %}</button>
					</div>
				</form>
				<!-- SIDEBAR USERPIC -->
				<div class="profile-userpic">
					{% if user.photo.photo_350 %}
					<img src="{% static user.photo.photo_350.url %}" class="img-responsive" alt="">
					{% else %}
					<img src="{% static 'image/default-user.png' %}" class="img-responsive" alt="">
					{% endif %}



				</div>
				<!-- END SIDEBAR USERPIC -->
				<!-- SIDEBAR USER TITLE -->
				<div class="profile-usertitle">
					<div class="profile-usertitle-name">{{ user.get_full_name }}</div>
					<div class="profile-usertitle-email">{{ user.email }}</div>
				</div>
				<!-- END SIDEBAR USER TITLE -->
			</div>
		</div>
		<!-- END BEGIN PROFILE SIDEBAR -->

		<!-- BEGIN PROFILE CONTENT -->
		<div class="profile-content">
			<div class="row">
				<div class="col-md-12">
					<form ng-non-bindable method="POST">{% csrf_token %}
						{{ messages|messages_style }}
						{{ form_details|form_style }}
						<div class="form-group">
							{# Translators: The save button on the change user details form. #}
							<button class="btn btn-primary btn-lg btn-block" name='action' value='form_details'
								type="submit">{% trans 'Save' %}</button>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<form ng-non-bindable method="POST">{% csrf_token %}
						{{ messages|messages_style }}
						{{ form_custom_details|form_style }}
						<div class="form-group">
							{# Translators: The save button on the change user details form. #}
							<button class="btn btn-primary btn-lg btn-block" name='action' value='form_custom_details'
								type="submit">{% trans 'Save' %}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END PROFILE CONTENT -->

	</div>


</div>
{% endblock %}