{% extends "theme-base.html" %}
{% load i18n %}
{% load theme_form_tags %}
{% load theme_messages_tags %}
{% load static %}

{% block head_title %}{{ profile.title }}{% endblock %}

{% block head_css %}
	<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for user in users_list %}
    <tr>
      <td>{{ user.get_full_name }} <small>({{ user.username }})</small></td>
      <td>{{ user.email }}</td>
      <td>
				<div class="btn-group btn-group-sm">
					<a href="{% url 'user-details' user_id=user.id %}" data-toggle="tooltip" title="Edit" class="btn btn-default">
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
          </a>
				</div>
			</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
